---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>Terms Of Use</h1>
    <p>
      All customer’s of GopherHost are required to adhere to the following terms
      of use described in this document. Anyone that violates these terms of
      service may be subject to immediate account termination and forfeit of any
      payments made to GopherHost.
    </p>

    <h2>Hosting Account Disk Usage</h2>
    <p>
      All files uploaded to any of GopherHost’s hosting accounts must be for the
      sole purpose of using those files on the customer’s website. GopherHost’s
      hosting accounts are not to be used for file storage or data archiving. If
      we determine that a customer is storing a large amount of files on their
      hosting accounts that are not for the purpose of being served on their
      website, the customer will be first warned and may be subject to a
      violation of this terms of use.
    </p>

    <h2>Website Streaming</h2>
    <p>
      Webservers are meant for serving files and not specifically designed to
      serve streaming media. Streaming large amounts of video and audio files is
      not recommended as it may slow down other visitors to your site. We
      recommend streaming audio and video from other services such as YouTube or
      Vimeo.
    </p>
    <p>
      GopherHost doesn’t meter each individual hosting account’s bandwidth and
      you are free to use what you need to run your website. But if we determine
      that your hosting account is causing a significant resource drain on our
      servers, we might ask you to move that streaming to another service.
      Failure to comply might constitute a violation of this terms of use.
    </p>

    <h2>Website Content</h2>
    <p>
      We do not restrict the content on your website as long as your adhere to
      Federal U.S. and Local California laws. Hosting accounts with cases of
      bullying, hate speech, harm (especially to minors) may be immediately
      terminated and turned over to the U.S. Government for possible
      prosecution.
    </p>
    <p>
      Any copyrighted material not owned by the GopherHost customer maybe be
      asked to be taken down.
    </p>

    <h2>Money-back Guarantee</h2>
    <p>
      We will do what ever is fair and appropriate to make sure you are happy
      with your purchase. If you are still unhappy within the first 60 days, we
      will refund 100% of your purchase with a few restrictions.
    </p><p>
      Since domain names are registered to the individual, domain names cannot
      be refunded. You are welcome to transfer your domain to a different
      registrar.
    </p><p>
      Any promotional bonuses applied to your account will not be refunded.
    </p>

    <h2>Reporting Legal Concerns</h2>
    <p>
      If any one finds legal violations on a website that is hosted by
      GopherHost, this can be reported by sending an email to
      legal@149.28.120.81 with as much details as possible and we will
      investigate.
    </p>
    <h2>Changes to this Statement</h2>
    <p>
      We reserve the right to update this Terms of Use policy at any time.
      Please check back often for any modifications and updates. Your continued
      use of the website and/or Services available after such modifications will
      constitute your: (a) acknowledgment of the modified Terms of Use Policy;
      and (b) agreement to abide and be bound by that Policy.
    </p><p><strong> Last Updated March 04, 2021</strong></p>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    padding: var(--gap);
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;
    line-height: var(--font-lineheight-4);
    h1 {
      align-self: center;
      font-size: var(--font-size-fluid-2);
      font-weight: 600;
    }
    h2 {
      font-size: var(--font-size-fluid-1);
      font-weight: 600;
    }
    p {
      font-size: var(--font-size-fluid-0);
      color: var(--gray-6);
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
      display: flex;
      flex-direction: column;
    }
    li {
      color: var(--gray-6);
    }
  }
</style>
