---
import heroImage from "@assets/images/domain-banner-img.png";
import Container from "@components/Container.svelte";
---

<Container bgColor="#ebf5ff" color="var(--clr-orange)" rounded="bottom">
  <section class="hero">
    <div class="hero__text">
      <span
        class="tagline"
        style="--bg-color: #cedeef; --color: var(--clr-blue)"
        >SIMPLE DOMAIN MANAGEMENT</span
      >
      <h1>It All Starts With A Domain Name</h1>
      <p>
        Every great website starts with a great domain name. Check to see if
        your domain name is available.
      </p>
    </div>
    <div class="hero__image">
      <img src={heroImage} alt="hero" />
    </div>
  </section>
</Container>

<style>
  .hero {
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: var(--gap);
    gap: var(--larger-gap);
    flex-direction: column;
    @media (--md-n-above) {
      flex-direction: row;
    }
    & > * {
      flex: 1;
    }
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    text-align: center;
    @media (min-width: 768px) {
      display: grid;
      place-items: start;
      text-align: left;
    }

    h1 {
      font-weight: 600;
      font-size: var(--font-size-fluid-2);
      margin-block-end: var(--gap);
    }

    p {
      font-size: var(--font-size-fluid-0);
      color: var(--gray-6);
      line-height: var(--font-lineheight-4);
    }
  }
</style>
