<section class="news" style="--bg-color: #ebf5ff; --color: var(--clr-blue)">
  <span class="tagline" style="--bg-color: #cedeef">LATEST NEWS</span>
  <h2>Our Company Blog</h2>
  <p>
    The latest articles from our company blog. Checkout what we have been up to
    or learn more about things you can do to make your web presence better.
  </p>
</section>

<style>
  .news {
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;
    margin-block: var(--larger-gap);
    padding: var(--gap);
    gap: var(--gap);
    display: grid;
    text-align: center;
    position: relative;
    place-items: center;
    h2 {
      font-size: var(--font-size-fluid-1);
      font-weight: 600;
    }

    p {
      margin-block: var(--small-gap) var(--large-gap);
      color: var(--gray-6);
      font-size: var(--font-size-fluid-0);
      line-height: var(--font-lineheight-4);
      text-align: left;
      @media (--sm-n-below) {
        text-align: center;
      }
      max-inline-size: 40rem;
    }
  }
</style>
